.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.dash-header {
    display: flex;
    flex-direction: row;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 50%;
}

.title {
    color: #fbfbff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 5rem;
  }
  
  .subtitle {
    color: #fbfbff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 50%;
  }

  .cjtakhar-img {
  width: 300px;
  height: 300px;         
  border-radius: 50%;
  object-fit: cover; 
  object-position: center 20%;   
  transform: scaleX(-1);
}

.about-btn {
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    border: solid 1px white;
    border-radius: 5px;
    text-transform: uppercase;
    color: #11102c;
    opacity: 0.8;
    letter-spacing: .5em;
    transition: all 0.5s ease-in-out;
}

.about-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.button-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-btn {
  margin-top: 20px; /* space below My Story */
}

/* Animation delays */
.delay-0 {
  animation-delay: 0.0s;
}

.delay-1 {
  animation-delay: 0.2s;
}


.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 15px;
    width: 50%;
}

.icon{
    color: white;
    font-size: 2rem;
    margin: 30px 20px;
    transition: transform 0.5s ease-in-out;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 1;
}

/* Animation class for the title */
.title-slide-in {
    animation: slideIn 1s forwards;
  }
  
  /* Animation class for the subtitle */
  .subtitle-slide-in {
    animation: slideIn 1s forwards;
  }
  
  /* Animation class for the image */
  .slide-in-right {
    animation: slideRight 1s forwards;
  }
  
  /* Animation class for the button */
  .button-slide-up {
    animation: slideUp 1s forwards;
  }

  .social-container-slide-up {
    animation: slideUp 1s forwards;
  }
  

@media (max-width: 750px) {
    .dash-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .title-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-container {
        width: 100%;
        margin-top: 25px;
    }
    .title {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-align: center;
      }

    .subtitle {
        font-size: 1.5rem;
        text-align: center;
    }
    .cjtakhar-img {
        width: 150px;
        height: 180px;
    }
    .about-btn {
        width: 200px;
        height: 40px;
        font-size: 1rem;
        border: solid 1px white;
        border-radius: 5px;
        text-transform: uppercase;
        color: #11102c;
        opacity: 0.8;
        letter-spacing: .5em;
        transition: all 0.5s ease-in-out;
    }
    .social-container {
        width: 100%;
        margin-top: 25px;
    }
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px); /* Slide in from the top */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Slide in to the final position */
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(100%); /* Slide in from the right */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Slide in to the final position */
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100%); /* Slide up from the bottom */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Slide up to the final position */
    }
  }