.navbar {
    background-color: transparent;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem;
    color: white;
}

.nav-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {
    color: white;
    font-size: 1.5rem;
    margin: 30px 20px;
    transition: transform 0.5s ease-in-out;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.logo:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 1;
}

.nav-menu {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item {
    padding: 0 5rem;
    text-transform: uppercase;
}

.nav-item a {
    font-weight: 200;
    text-decoration: none;
    color: white; /* Set the color for unvisited links */
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.nav-item a:hover {
    cursor: pointer;
    opacity: 1;
}

/* Style visited links (if needed) */
.nav-item a:visited {
    color: white;
}

@media (max-width: 768px) {
    .nav-menu.active {
      display: none;
    }
  }